<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" verbose="1" thread-count="8" parallel="tests">
    <test name="TestSuit1" parallel="tests">
        <classes>
            <class name="Zoommer.LoginTest" />
        </classes>
    </test>
    <!--    <test name="TestSuit2" parallel="tests">-->
    <!--        <classes>-->
    <!--            <class name="SecondTest" />-->
    <!--        </classes>-->
    <!--    </test>-->
</suite>